@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-transparent: rgba(23, 23, 23, 0.5); /* 50% opacity */

  /* --text-color: #a10606;
  --text-color-light: #a106069d; */

  --accent-color: #bbf7d0;
  --primary-text-color: #3a4e41;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-transparent: rgba(237, 237, 237, 0.226); 50% opacity */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background: var(--foreground-transparent);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

h1 {
  @apply text-5xl text-[var(--primary-text-color)];
}

.nav-bar-panel {
  @apply h-[10vh] flex flex-row justify-between;
}

h3 {
  @apply text-xl font-semibold text-[var(--primary-text-color)];
}

p {
  @apply text-base text-[var(--primary-text-color)];
}
